.s2{
    margin-left: 600px;
    margin-top: -590px;
}
.s3 h2 {
    margin-top: 100px;
    margin-left: 200px;
    font-size: 60px;
    position:absolute;
}
.s1 {
    margin-left: 250px;
}
.s4 {
    margin-left: 260px;
    margin-top: 480px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
.s5 {
    height: 1000px;
    width: 1140px;
    background-color: rgb(255, 255, 255);
    margin-top: -90px;
    margin-left: 340px;
}
.s6 {
    height: 750px;
    width: 500px;
    background-color: white;
    margin-left: 270px;
    margin-top: -801px;
}
.s7 {
    margin-top: -760px;
    margin-left: 547px;
    height: 250px;
    width: 60px;

}
.s8 {
    margin-top: -248px;
    margin-left: 570px;
    font-size: 19px;
}
.s9 {
    margin-top: 100px;
    margin-left: 560px;
    font-size: 20px;
}
.s9 nav a{
    color:black;
}
.s10 {
    margin-top: -300px;
    margin-left: 180px;
}
.s11 {
    margin-left: 540px;
    margin-top: -400px;
}
.s12 {
    margin-left: 820px;
    margin-top: -400px;
}
.s13 {
    margin-left: 1100px;
    margin-top: -400px;

}
.s14 {
    margin-left: 480px;
}
.s15 {
    margin-top: -350px;
    margin-left: 100px;
}
.s15 h1 {
    font-size: 53px;
    color: rgb(44, 38, 38);

}
.s16 {
    height: 350px;
    width:100%;
    background-color: white;
    margin-top: 50px;
}
.s16 h2 {
    padding-top: 110px;
    margin-left: 150px;
    font-size: 35px;
}
.s16 p {
    font-size: 20px;
    margin-left: 150px
}
.s17 {
    margin-left: 547px;
    margin-top: -252px;
}
.s17 h2 {
    font-size: 30px;
}
.s17 p {
    font-size:20px ;
}
.s18 {
    margin-left: 940px;
    margin-top: -180px;
}
.s18 p {
    font-size: 20px;
}
.s18 h2 {
    font-size: 30px;
}
.s19 {
    height: 850px;
    width: 100%;
    background-color: white;
    margin-top: 88px;
}
.s20 {
    margin-top: -800px;
    margin-left: 200px;

}
.s21 {
    margin-top: -680px;
    margin-left: 748px;


}
.s22 {
    margin-top: -100px;
    margin-left: 780px;
    
}
.s22 h1 {
    font-size: 35px;
}
.s22 p {
    font-size: 20px;
}
.s22 nav a {
    color:black;
    font-size: 20px;
}
.s23 {
    margin-left: 1080px;
    margin-top: 96px;
}
.s24 {
    margin-left: 180px;
    margin-top: 300px;
}
.s25 {
    margin-left: 190px;
    margin-top: -88px;
}
.s25 h1 {
    font-size: 35px;
}
.s25 p {
    font-size: 20px;
}
.s25 nav a {
    color: black;
    font-size: 20px;
}
.s26 {
    margin-left: 798px;
    margin-top: -380px;
}
.s27 {
    margin-left: 1130px;
    margin-top: -430px;
}
.s28 {
    height: 400px;
    width: 1170px;
    background-color: white;
    margin-left: 300px;
    margin-top: -59px;
}
.s29 {
    padding-left: 800px;
    margin-top: -300px;
}
.s29 h3 {
    font-size: 25px;
}
.s29 p {
    font-size: 20px;
}
.s31 {
    height: 100px;
    width: 100%;
    background-color: rgb(39, 37, 37);
    margin-top: 70px;
}
.s32 {
    margin-top: -50px;
    margin-left: 640px;
}
.s32 a {
    color:rgb(73, 201, 233);
    font-size: 15px;
}
.s32 p {
    color: white;
    font-size: 18px;
}